### Node files
network/**
!network/*.json
!network/*.toml
!network/*.key
!network/*.pwds
!network/*.txt
!network/parity/*.json
!network/parity/*.toml
!network/parity/*.key
!network/parity/*.pwds
!network/parity/*.txt
node-modules/**
build
.puppeth
bin

